<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <UseAppHost>true</UseAppHost>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishUrl>$(MSBuildProjectDirectory)\..\publish\ThreeBooks.BookBackend.LoginService\local-service\</PublishUrl>
    <PublishDir>$(MSBuildProjectDirectory)\..\publish\ThreeBooks.BookBackend.LoginService\local-service\</PublishDir>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <EnableLocalWindowsServiceAutomation>true</EnableLocalWindowsServiceAutomation>
  </PropertyGroup>
</Project>